#view-selector-container {
  display: none;
}

.chart-container {
  width: 100%;
  min-height: 400px;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.chart-container .chart-part {
  width: 50%;
  float: left;
  min-height: 400px;
}

.rangeSelect {
  border: 1px solid #e5e5e5;
  outline: none;
  height: 28px;
  line-break: 28px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 3px;
  color: #333;
  min-width: 120px;
}

.dateInput {
  border: 1px solid #e5e5e5;
  outline: none;
  height: 28px;
  line-break: 28px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 3px;
  color: #333;
  min-width: 120px;
}
